<div class="flex items-center justify-center flex-col">
    <div class="mt-5">
        <img src="../resources/home.svg" alt="home">
    </div>
    <div class="my-10 text-center flex justify-center items-center flex-col">
        <h1 class="md:text-6xl xs:text-2xl font-bold">Dale sentido a la rutina</h1>
        <p class="md:text-2xl xs:text-lg my-2">Orienta tus tareas y finanzas hacia tus metas</p>
        <div class="mt-4">
            <a class="bg-brand text-white py-2 px-3 rounded-lg md:text-lg xs:text-base" href="#/signup">Comienza ahora</a>
        </div>
    </div>
</div>