<div id="modal-login" class="modal">
    <div class="container mx-auto md:w-1/2 xl:w-2/6 pt-7 mt-12">
        <div class=" bg-white rounded-lg md:mt-12 xs:mt-6">
            <h3 class="font-semibold text-3xl mt-2 mb-4">Log In</h3>
            <form id="form-login">
                <input type="email" id="login-email" class="bg-gray-200 p-3 my-2 w-full rounded-md" placeholder="Email"
                    autocomplete="off">
                <input type="password" id="login-password" class="bg-gray-200 p-3 my-2 w-full rounded-md"
                    placeholder="Password">
                <button type="submit" class="w-full bg-black text-white my-2 p-3 rounded-md md:text-xl xs:text-base">Log
                    In</button>
                <button id="login-google"
                    class="w-full bg-red-500 text-white my-2 p-3 rounded-md md:text-xl xs:text-base">Google</button>
            </form>
        </div>
    </div>
    
</div>

<!-- container notification modal -->
<div class="modal-container absolute bottom-12 left-10"></div>
