<div id="modal-signup" class="modal">
    <div class="container mx-auto bg-white md:w-1/2 xl:w-2/6 p-7 rounded-lg md:mt-12 xs:mt-6">
        <h3 class="font-semibold text-3xl mt-2 mb-4">Sign Up</h3>
        <form id="form-signup">
            <input type="text" id="signup-name" class="bg-gray-200 p-3 my-2 w-full rounded-md" placeholder="Name">
            <input type="email" id="signup-email" class="bg-gray-200 p-3 my-2 w-full rounded-md"
                placeholder="Email">
            <input type="password" id="signup-password" class="bg-gray-200 p-3 my-2 w-full rounded-md"
                placeholder="Password">
            <button type="submit" class="w-full bg-black text-white my-2 p-3 rounded-md md:text-xl xs:text-base">Sign Up</button>
            <button id="signup-google"
                class="w-full bg-red-500 text-white my-2 p-3 rounded-md md:text-xl xs:text-base">Google</button>
        </form>
    </div>
</div>
