<input type="text" id="input-task" class="bg-gray-100 px-5 py-3 text-xl my-2 w-full rounded-2xl outline-none" placeholder="Add your task and press enter"
    autocomplete="off">

<!-- All tasks -->
<div id="tasks-container" class="display flex flex-col"></div>


<!-- taks done -->
<div class="flex justify-center">
   <button id="showCompletedTasks" class="bg-gray-300 text-white p-1 my-4 text-xs rounded-sm focus:outline-none">Show Completed Tasks</button> 
</div>


<div id="task-done-container" style="display: flex;" class="display flex flex-col">  
</div>

<!-- container notification modal -->
<div class="modal-container absolute bottom-12 left-10"></div>



