<!-- Add Task -->
<div class="mt-10 flex justify-center items-end flex-col px-10 py-5">
    <input class="w-full bg-white text-4xl font-medium text-gray-800 focus:outline-none" type="text"
        placeholder="Title">
    <textarea class="mt-6 bg-white text-xl font-base text-gray-800 w-full min-h-25 focus:outline-none" type="text"
        placeholder="Description"></textarea>
    <button
        class="w-32 bg-black text-white my-4 p-3 rounded-2xl md:text-xl xs:text-base focus:outline-none">Add</button>
</div>