<!-- Get Tasks -->
<div class="grid lg:grid-cols-3 md:grid-cols-2 xs:grid-cols-1 mt-5 gap-3">
    <div class="w-full p-8 bg-yellow-200 rounded-lg cursor-pointer">
        <h1 class="text-4xl font-medium my-2">Como hacer un blog en firebase</h1>
        <p class="text-xl text-gray-700">Date</p>
    </div>
    <div class="w-full p-8 bg-yellow-200 rounded-lg">
        <h1 class="text-4xl font-medium my-2">Como hacer un blog en firebase</h1>
        <p class="text-xl text-gray-700">Date</p>
    </div>
    <div class="w-full p-8 bg-yellow-200 rounded-lg">
        <h1 class="text-4xl font-medium my-2">Como hacer un blog en firebase</h1>
        <p class="text-xl text-gray-700">Date</p>
    </div>
</div>
