<div class="navigation-1 flex justify-between items-center">
  <div id="all-note" class="bg-gray-200 px-1 py-2 rounded-lg cursor-pointer">
    <img class="w-6 mx-2 opacity-75" src="../../resources/back.svg" alt="">
  </div>
  <div id="edit-note" class="bg-gray-200 p-2 rounded-lg">
    <img id="search-note" class="w-6 mx-2 cursor-pointer opacity-75" src="../../resources/edit.svg" alt="">
  </div>
</div>


<div class="navigation-2 flex justify-end items-center">
  <div id="search-note" class="bg-gray-200 p-2 rounded-lg mx-3 cursor-pointer">
    <img class="w-6 mx-2 opacity-75" src="../../resources/lupa.svg" alt="">
  </div>
  <div id="add-note" class="bg-gray-200 p-2 rounded-lg cursor-pointer">
    <img class="w-6 mx-2 opacity-75" src="../../resources/plus.svg" alt="">
  </div>
</div>


<div class="container-note">
</div>

<!-- Container Notification Modal -->
<div class="modal-container absolute bottom-12 left-10"></div>